.header{
  background-color:#00ae44;
  width: 100%;
  height: 125px;
  display: flex;
  flex: 1;
  position:fixed;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid white;
}
.logos{
  display: flex;
  margin: 0px;
  margin-top: 20px;
  margin-left: 30px;
 width: 100px;
 height: 80px;
  
}
.container{
  width: 100%;
  height: 125px;

}
body{
  margin: 0;
}


  .properties{
    display: flex;
    color: white;
     width: 100px;
    justify-content: space-between;
    font-family:"Orienta", sans-serif; 
    margin-left: 500px;
    font-size: 20px;
    padding-top: 38px;
    font-family: sans-serif;
    gap: 40px;
  
  }
  .icons{
    width: 25px;
    height: 30px;
    display: flex;
    gap: 5px;
    margin-left: 320px;
    padding-top:50px ;
    font-weight: bold;
  }
  #image1 img{
    
    width: 100%;
 
   }
#image1{
  margin-top: 120px;
}
.text1{
  position: absolute;
  font-size: 75px;
  bottom: 80px;
  color:rgb(255, 255, 255);
  margin-left: 120px;
  font-family: "Concert One", sans-serif;
  font-weight: bold;
}
.text2{
  position: absolute;
  font-size: 18px;
  bottom: 80px;
  color:rgb(255, 255, 255);
  margin-left: 110px;
  font-family:"Orienta", sans-serif; 
  border: 2px solid;
  border-radius:60px;
  border-width: 2px;
  }
 .sub1{
   padding: 1px 1px;
   padding-left: 18px;
   padding-right: 18px;
   margin: 7px;
   
 }
 #image2 img{
    
  width: 100%;

 }
#image2{
margin-top: 120px;
margin-top: -10px;
position: relative;
}

.image2text{
  border: 2px solid;
  width: 600px;
  height: 60px;
  position: absolute;
  background-color: rgb(3, 59, 17);
  bottom: 0px;
  margin-left: 390px;
  top: 250px;
  border: none;
  border-radius: 100px;
  opacity: 0.8;
  padding-bottom: 150px;
}
.image2texts{
  
  color: white;
  font-family: "Orienta", sans-serif;
  font-size: 34px;
  margin-left: 230px;
  margin-top: 25px;
  

}
.img2texts{
    
  color: rgb(241, 231, 231);
  font-family: "Orienta", sans-serif;
  font-size: 18px;
  margin-left: 90px;
  margin-top: 1px;
  


}
.sub2{
  position: absolute;
  font-size: 18px;
  bottom: 40px;
  color:rgb(255, 255, 255);
  margin-left: 200px;
  font-family:"Orienta", sans-serif; 
  border: 2px solid;
  border-radius:60px;
  border-width: 2px;
  width: 200px;
  height: 30px;
  background-color: transparent;
 
}
#image3 img{
    
  width: 100%;

 }
#image3{
margin-top: 120px;
margin-top:-10px ;
}


.image3text{
  border: 2px solid;
  width: 600px;
  height: 60px;
  position: absolute;
  background-color: rgb(3, 59, 17);
  bottom: 0px;
  margin-left: 390px;
  top: 1650px;
  border: none;
  border-radius: 100px;
  opacity: 0.8;
  padding-bottom: 150px;
}
.image3texts{
  
  color: white;
  font-family: "Orienta", sans-serif;
  font-size: 34px;
  margin-left: 150px;
  margin-top: 25px;
  

}
.img3texts{
    
  color: rgb(241, 231, 231);
  font-family: "Orienta", sans-serif;
  font-size: 15px;
  margin-left: 60px;
  margin-top: 1px;
  
  


}
.sub3{
  position: absolute;
  font-size: 18px;
  bottom: 40px;
  color:rgb(255, 255, 255);
  margin-left: 200px;
  font-family:"Orienta", sans-serif; 
  border: 2px solid;
  border-radius:60px;
  border-width: 2px;
  width: 200px;
  height: 30px;
  background-color: transparent;
 
}
  .footerdiv{
  background-color: rgb(62, 62, 62);
  width: 100%;
  height: 150px;
  margin-top: -10px;
  display:flex;
  flex-direction: column;
  }
  .footersub{
   display: flex;
   color: white;
   gap: 16px;
   margin-left:220px;
   font-family:"Orienta", sans-serif; 
   font-size: 13px;
    }
    
    .footersub2{
   
      top: 60px;
      font-family:"Orienta", sans-serif; 
      text-align: center;
      color: white;
      font-size: 13px;
    }